<%= form_tag('/auth/developer', method: 'post', data: {turbo: false}) do %>
  <button type='submit'>Login with Developer</button>
<% end %>

<p><%= link_to "Sign-in With Ethereum", '/auth/nftauth', method: :post %></p>
